{% extends "base.html.j2" %}

{% block body %}
  {% if view.reproducibility %}
    {% include "_reproducibility.html.j2" %}
  {% endif %}
  {% include "_summary.html.j2" %}
  {% include "_local.html.j2" %}
  {% include "_robustness.html.j2" %}
  {% include "_appendix.html.j2" %}
{% endblock %}
