{% extends "base.html.j2" %}

{% block body %}
  {% include "_summary.html.j2" %}
  {% include "_local.html.j2" %}
  {% include "_robustness.html.j2" %}
  {% include "_appendix.html.j2" %}
{% endblock %}
